
.black{
    background-color: $black;
    height: $height;
    width: $width;
    display: flex;
    flex-direction: row;
    justify-content: center;
    opacity: 100%;
    justify-content: center;
    align-items: center;


}

.formWindow{
    background-color: $color3;
    height: $formHeigh;
    width: $formWidth;
    box-shadow: $shadow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white;
    border-radius: $radius;
}

.signupInputs{
    height: $inputHeigh;
    width: $inputWidth;
    border-radius: $radius;
}