.dropdownDiv{
    background-color: $color3;
    width: $formWidth;
    height: $formHeigh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: $radius;    
    box-shadow: $shadow;
    margin: auto;
    font-family: 'Orbitron', sans-serif;
    color: $color4; 
}


.genreDropdown{
    justify-self: center;
    align-self: center;
    width: $inputWidth;
    height: $inputHeigh;
    border-radius: $radius;
    outline-width: 0;
}

