

.homeContainer{
    background-color: $color1;
    height: $height;
    width: $width;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.leftMid{
    background-color: $black;
    height: 100vh;
    width: 100vw;
}

.leftTop{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50vw;

}

.search{
    background-color: $color3;
    width: $formWidth;
    height: $formHeigh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: $radius;    
    box-shadow: $shadow;
    margin: auto;
    font-family: 'Orbitron', sans-serif;
    color: $color4; 
}

.genreDropdown{
    justify-self: center;
    align-self: center;
    width: $inputWidth;
    height: $inputHeigh;
    border-radius: $radius;
    outline-width: 0;
}

.search{
    height: 20rem;
    width: 20rem;
    background-color: $color3;
    // &:hover{
    //     height: 22rem;
    //     width: 22rem;
    //     transition: $inOut;
    // } 
    border-radius: $radius;  
}

.leftBot{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50vw;

}

.weeklySugest{
    height: 20rem;
    width: 40rem;
    background-color: $color3;
    transition: $inOut;

    border-radius: $radius;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-evenly;   
}

.sugestText{
    font-size: xx-large;
}

.sugestRight{
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-evenly;
}

.bandName{
    font-size: xx-large;
}

.bandImg{
    height: 10rem;
    width: 10rem;
    background-color: red;
    border-radius: $radius;
}

.rightMid{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $black;
    height: 100vh;
    width: 100vw;
}




.topBands{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50rem;
    width: 45rem;
    background-color: $color3;
    transition: $inOut;
    border-radius: $radius;
    // &:hover{
    //     height: 52rem;
    //     width: 52rem;
    //     transition: $inOut;
    // }

}

.textTopBands{
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: xx-large;
}

.band{
    height: 7em;
    width:50rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 25em;
}

.topBandImg{
    height: 5rem;
    width: 5rem;
    
    border-radius: $radius;
   
}

.topBandsRight{

    margin-left: 4em;
}

.topBandName{
    font-size: xx-large;
}