.homeContainer {
  background-color: #000000;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.leftMid {
  background-color: rgba(22, 22, 22, 0.803);
  height: 100vh;
  width: 100vw; }

.leftTop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 50vw; }

.search {
  background-color: #3c415cb8;
  width: 40em;
  height: 37em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2em;
  box-shadow: 0.2em 0.3em 0.3em 0.3em rgba(0, 0, 0, 0.247);
  margin: auto;
  font-family: 'Orbitron', sans-serif;
  color: #b4a5a5; }

.genreDropdown {
  justify-self: center;
  align-self: center;
  width: 30em;
  height: 2em;
  border-radius: 2em;
  outline-width: 0; }

.search {
  height: 20rem;
  width: 20rem;
  background-color: #3c415cb8;
  border-radius: 2em; }
  .search:hover {
    height: 22rem;
    width: 22rem;
    transition: 0.2s; }

.leftBot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 50vw; }

.weeklySugest {
  height: 20rem;
  width: 40rem;
  background-color: #3c415cb8;
  transition: 0.2s;
  border-radius: 2em; }
  .weeklySugest:hover {
    height: 22rem;
    width: 42rem;
    transition: 0.2s; }

.rightMid {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(22, 22, 22, 0.803);
  height: 100vh;
  width: 100vw; }

.topBands {
  height: 50rem;
  width: 50rem;
  background-color: #3c415cb8;
  transition: 0.2s;
  border-radius: 2em; }
  .topBands:hover {
    height: 52rem;
    width: 52rem;
    transition: 0.2s; }

.dropdownDiv {
  margin: solid red 1em; }

.black {
  background-color: rgba(22, 22, 22, 0.803);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  opacity: 100%;
  justify-content: center;
  align-items: center; }

.formWindow {
  background-color: #3c415cb8;
  height: 37em;
  width: 40em;
  box-shadow: 0.2em 0.3em 0.3em 0.3em rgba(0, 0, 0, 0.247);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ece6e6;
  border-radius: 2em; }

.signupInputs {
  height: 2em;
  width: 30em;
  border-radius: 2em; }

.navContainer {
  display: flex;
  width: 100vw;
  height: 10vh;
  background-color: #b4a5a5; }

.nav {
  display: flex;
  width: 95%;
  height: 2em;
  padding: 1rem;
  background-color: #b4a5a5;
  border-radius: 0.75rem;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  text-align: center;
  list-style-type: none; }

.navProfileContainer {
  display: flex;
  width: 100%;
  background-color: #b4a5a5; }

.navProfile {
  display: flex;
  width: 95%;
  height: 2em;
  /* margin: 1rem; */
  padding: 1rem;
  background-color: teal;
  border-radius: 0.75rem;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  text-align: center;
  list-style-type: none; }

li a {
  text-decoration: unset;
  width: 70%;
  padding: 1rem;
  color: var(--text-color);
  font-family: 'Orbitron', sans-serif;
  font-weight: bold; }

.headerView {
  height: 8em;
  background-color: yellow; }

.headerContainer {
  width: 100%;
  cursor: pointer;
  font-family: 'Orbitron', sans-serif; }

.black {
  background-color: rgba(22, 22, 22, 0.803);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.cardLogin {
  background-color: #3c415cb8;
  width: 40em;
  height: 37em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2em;
  box-shadow: 0.2em 0.3em 0.3em 0.3em rgba(0, 0, 0, 0.247);
  margin: auto;
  font-family: 'Orbitron', sans-serif;
  color: #b4a5a5; }

.emailInput {
  justify-self: center;
  align-self: center;
  width: 30em;
  height: 2em;
  border-radius: 2em;
  outline-width: 0; }

.passInput {
  justify-self: center;
  align-self: center;
  width: 30em;
  height: 2em;
  border-radius: 2em;
  outline-width: 0; }

.showPWDiv {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.showPW {
  justify-self: center;
  align-self: center;
  height: 1.5em; }

.showPWText {
  font-size: 1.5em; }

.loginBtn {
  justify-self: center;
  align-self: center;
  width: 7em;
  margin-top: 2em;
  margin-bottom: 1em;
  box-shadow: 0.1em 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.247); }

.createAccount {
  color: #b4a5a5;
  cursor: pointer; }

.createAccount:local-link {
  color: #021bf8; }

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em; }

.buttonLog {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em; }

.select {
  justify-self: center;
  align-self: center;
  width: 8em;
  height: 2em;
  border-radius: 2em; }

.errorMessage {
  font-size: 0.8em; }
