
.black{
    background-color: $black;
    height: $height;
    width: $width;
    display: flex;
    flex-direction: row;

}

.banner{
    height: 10em;
    background-color: aqua;
}

.productsDiv{
    height: $height;
    width: $width;
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
 
}

.mugDiv{
    height: $formHeigh;
    width: $formWidth;
    background-color: $color3;
    border-radius: $radius;
}

.tshirtDiv{
    height: $formHeigh;
    width: $formWidth;
    background-color: $color3;
    border-radius: $radius;
}

.productDiv{
    height: $formHeigh;
    width: $formWidth;
    background-color: $color3;
    border-radius: $radius;
    display: flex;
    flex-direction: column;
}

.productTop{
    height: $halfFormHeigh;
    width: $formWidth;
    display: flex;
    flex-direction: row;
}

.productTopLeft{
    width: $halfFormWidth;
    
}

.productRight{
    display: flex;
    flex-direction: column;
    height: $halfFormHeigh;
}

.productTopRight{
    width: $halfFormWidth;
    height: $quarterFormHeigh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: $color4;
    font-size: xx-large;
}

.productUpper{
    width: $quarterFormWidth;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.addToCartButton{
    height: 5em;
    width: 9em;
    border-radius: $radius;
    color: $color3;
    box-shadow: 0 0.23em rgb(118, 118, 118);
    &:active{
        background-color: $white;
        box-shadow: 0 0.1em rgb(118, 118, 118);
        transform: translateY(4px);
    } 
}

.productBotRight{
    height: $quarterFormHeigh;

}

.productImg{
    height: 15rem;
    width: 15rem;
    background-color: $color3;
    border-radius: $radius;
    margin-top: 2em;
    margin-left: 2em;
}

.namePrice{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: $formWidth;

}

.productBot{
    height: $halfFormHeigh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.productInfo{
    font-size: large;
    color: $color4;
}


